body {
  margin: 0;
}

main {
  margin: 100px auto;
  margin-bottom: 0;
  width: 50vw;
  height: 70vh;
  text-align: center;
  background-color: none;
  border-radius: 50px;
  overflow: auto;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  animation: fade 2s
}

@keyframes fade {
  from { opacity: 0.4;}
  to { opacity: 0.8;}
}

.js-date {
  color: rgb(250, 250, 250);
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
}

.js-time {
  color: rgb(199, 78, 255);
  font-size: 60px;
  font-weight: bold;
}

.js-form {
  margin-top: 50px;
  text-align: center;
}

.js-form input {
  text-align: center;
}

.hide {
  display: none;
}

.greeting {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 18px 0;
  
}

.userNameText {
  color: rgb(135, 102, 255);
  font-size: 23px;
}

input[type="text"] {
  width: 40vw;
  margin-bottom: 10px;
  border: none;
  border-bottom: rgb(253, 255, 164) 4px solid;
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  transition: 0.3s;
}

input[type="text"]:focus {
  width: 45vw;
  outline: none;
  border-bottom:  rgb(253, 255, 164) 7px solid;
}

.todoList {
  padding-left: 5%;
  text-align: left;
  font-weight: 700;
  list-style: none;
  margin: 5px;
}

.todoList li {
  margin: 0;
  padding: 0;
}

.todoList button {
  font-size: 13px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
}

.todoList button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.todoList span {
  margin-left: 10px;
}

.js-weather {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 201, 100);
}

@media screen and (max-width: 700px) {
  .js-date {
    font-size: 22px;
  }

  .js-time {
    font-size: 30px;
  }

  .greeting {
    font-size: 13px;
  }

  .userNameText {
    font-size: 14px;
  }

  input[type="text"] {
    width: 45vw;
    font-size: 13px;
  }

  input[type="text"]:focus {
    width: 48vw;
  }

  .todoList {
    padding-left: 0;
    font-weight: 600;
    margin: 0;
    font-size: 14px;
  }

  .todoList button {
    font-size: 11px;
    padding: 2px;
  }

  .js-weather {
    font-size: 20px;
  }
}